<% const IMG = `${process.cwd()}/src/images`; %>
<section class="appeal">
  <h2 class="appeal__title">Used by many people and communities!</h2>
  <div class="swiper appeal__swiper">
    <div class="swiper-wrapper appeal__swiper-wrapper">
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image1.svg` %>" alt=""></div>
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image2.svg` %>" alt=""></div>
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image3.svg` %>" alt=""></div>
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image4.svg` %>" alt=""></div>
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image5.svg` %>" alt=""></div>
      <div class="swiper-slide appeal__swiper-slide"><img src="<%- `${IMG}/appeal-image6.svg` %>" alt=""></div>
    </div>
  </div>
</section>