<%
const meta = {
  top: {
    title:`トップページタイトル`,
    description:`トップページディスクリプション`
  }
}
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
<title><%= meta[pagename].title %></title>
<meta name="description" content="<%= meta[pagename].description %>">
<link rel="canonical" href="**********">

<meta name="twitter:card" content="summary_large_image"><!-- ※Twitterogp -->
<meta name="twitter:title" content="<%= meta[pagename].title %>">
<meta name="twitter:description" content="<%= meta[pagename].description %>">
<meta name="twitter:image:src" content="**********">
<meta property="og:type" content="website">
<meta property="og:site_name" content="**********">
<meta property="og:title" content="<%= meta[pagename].title %>">
<meta property="og:image" content="**********">
<meta property="og:description" content="<%= meta[pagename].description %>">

<% if(!isProd) { %>
<!-- build以外ではクロールさせない -->
<meta name="robots" content="none">
<% } %>